*{
  text-decoration: none;
  margin: 0 auto;
  padding: 0 10px;
}
body{
  background-color: #131313;
  font-family: Arial, sans-serif;   
  background-image: url(./geo-iphone12promax-iphone12pro-pacific-blue-2up-1-385f4671\ 1.png);
  background-repeat: no-repeat; /* Отключаем повторение */
  /* background-size: cover; Растягиваем на всю область */
  /* background-position: center; */
  background-position: right center; /* Смещаем вправо */
  background-size: 700px 800px; /* Ширина 500px, высота 300px */

}
header {
  margin-top: 22px;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.logo {
  opacity: 0.7;
  color: white;
  font-size: 15px;
  font-weight: 300;
  line-height: 22.27px;
}
ul {
  gap: 78px;
  display: flex;
  color: white;
  list-style: none;
  margin-left: 450px;
  transition: all 0.3s;
}
ul li {
  font: Roboto;
  opacity: 0.7;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  line-height: 22.27px;    
  transition: opacity 0.3s;
}
ul li.active, ul li:hover {
  opacity: 1;
  text-decoration: underline;
}
.title{
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  /* font-family: Roboto; */
  font-weight: 600;
  font-size: 88px;
  line-height: 103.13px;
  letter-spacing: 0%;    
}
.order {
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px 30px;
  border-radius: 8px;
  background: linear-gradient(45deg, #6EADE8, #2200F0);
}
.harak{
  margin-top: 200px;
}
.text{
  font-weight: 300;
  font-size: 16px;
  line-height: 32.44px;
  letter-spacing: 0%;
  text-align: justify;   
  color: white;
  opacity: 0.8;     
}
.btn_wrapper{
  margin-top: 110px;
}
.learn {
  background: none;
  border: 2px solid white;
  padding: 15px 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 8px;
  transition: 0.3s;
}